@use 'styles' as *;

.Tech {
  min-height: 100vh;
  background: url('/assets/technology/background-technology-mobile.jpg')
    no-repeat center scroll;
  background-size: cover;

  @include respond-to('medium') {
    background: url('/assets/technology/background-technology-tablet.jpg')
      no-repeat center scroll;
    background-size: cover;
  }

  @include respond-to('large') {
    background: url('/assets/technology/background-technology-desktop.jpg')
      no-repeat center scroll;
    background-size: cover;
  }
}
