@use 'styles/' as *;

.Header {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;

  @include respond-to('medium') {
    width: calc(100% - 39px);
    padding: 0;
  }

  @include respond-to('large') {
    top: 40px;
    width: calc(100% - 55px);
    padding: 0;
  }

  .Logo {
    transform: scale(0.834);

    @include respond-to('medium') {
      transform: scale(1);
    }
  }

  .Line {
    display: none;

    @include respond-to('large') {
      flex: 1;
      height: 1px;
      opacity: 0.25;
      display: block;
      background: $white;
      transform: translateX(40px);
      z-index: 5;
    }
  }

  .Nav {
    display: none;

    @include respond-to('medium') {
      display: block;
      width: 450px;
      height: 100%;
      background: rgba($color: $white, $alpha: 0.04);
      backdrop-filter: blur(81.5485px);
    }
    @include respond-to('large') {
      width: 830px;
    }
    @include respond-to('xlarge') {
      width: 55%;
    }

    .NavList {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 48px;

      @include respond-to('medium') {
        gap: 42px;
      }

      a {
        height: 100%;
      }
    }
  }

  .Menu {
    width: 24px;
    height: 24px;

    @include respond-to('medium') {
      display: none;
    }
  }
}
